.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #dddddd;

}

.footer .container {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.2rem;
}

.footer .col {
  margin: auto;
}

.footer h3 {
  margin-bottom: .8rem 0;
}

.footer p {
  margin: .4rem 0;
}

.footer .social {
  text-align: center;
}

.footer .icon {
  font-size: 2rem;
  margin: 2rem 3rem;
}

@media screen and (max-width: 940px) {
  .footer .container {
    grid-template-columns: repeat(2,1fr);
  }

  .footer .icon {
    font-size: 1.8rem;
    margin: 0 2rem;
    margin-bottom: 2rem;
    /* background-color: aqua; */
  }
}